---
export const prerender = true

import { getCollection } from 'astro:content'

import MainLayout from '~/layouts/Main.layout.astro'
import PostCard from '~/components/blog/PostCard/PostCard.astro'
import Header from '~/components/blog/Header/Header.astro'
import Footer from '~/components/Footer/Footer.astro'

import styles from '~/styles/pages/blog.css'

const posts = await getCollection('blog')
---

<MainLayout title="Home">
  <Header title="blog" description="yes. sometimes. random things" />
  <section class={styles.content}>
    <blog-post-wrapper class={styles.postWrapper}>
      {posts.map((post) => <PostCard {...post} />)}
    </blog-post-wrapper>
  </section>
  <Footer />
</MainLayout>

<script>
  import { gsap } from 'gsap'

  class BlogPostWrapper extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      this.addEventListener('mousemove', this.handleMouseMove)
    }

    disconnectedCallback() {
      this.removeEventListener('mousemove', this.handleMouseMove)
    }

    handleMouseMove = (e: MouseEvent) => {
      const { left, top } = this.getBoundingClientRect()
      const x = e.clientX - left
      const y = e.clientY - top

      gsap.to(this, {
        '--x': `${x}px`,
        '--y': `${y}px`,
        duration: 1.5,
        ease: 'expo.out'
      })
    }
  }

  customElements.define('blog-post-wrapper', BlogPostWrapper)
</script>
