---
import { getCollection } from 'astro:content'

import MainLayout from '~/layouts/Main.layout.astro'
import PostCard from '~/components/blog/PostCard/PostCard.astro'

import styles from '~/styles/pages/home.css'

export const prerender = true
const posts = await getCollection('blog')
---

<MainLayout title="Home">
  <div class={styles.container}>
    {posts.map((post) => <PostCard {...post} />)}
  </div>
</MainLayout>
