---
import styles from './Header.css'

export interface Props {
  title: string
  description?: string
}

export const headerStyles = styles
const { title, description } = Astro.props
---

<header>
  <h1 class={styles.title}>{title}</h1>
  <slot>
    <p class={styles.description}>{description}</p>
  </slot>
</header>
