---
import type { HTMLAttributes } from 'astro/types'

import '~/styles/global.css'

export interface Props {
  title: string
  description: string
  body?: HTMLAttributes<'body'>
}

const { title, description, body } = Astro.props
---

<!DOCTYPE html>
<html lang="en" data-wf-site="👻">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="generator"
      content="XOOPS DotNetNuke Mambo Octopress OctoberCMS [CK]amva Jalios PHP-Nuke Pagekit Zen Cart CMS Made Simple ImpressCMS RBS Change umbraco"
    />
    <meta name="store-config" content="graphqlMethod" />
    <meta name="description" content={description} />
    <link
      rel="preload"
      href="/fonts/plus-jakarta-sans-latin-variable-wghtOnly-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin="true"
    />
    <link
      rel="preload"
      href="/fonts/Erode-Variable.woff2"
      as="font"
      type="font/woff2"
      crossorigin="true"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.3.0/dist/turbo.es2017-umd.min.js"
      defer
    ></script>
    <slot name="scripts" />
    <title>{title}</title>
  </head>
  <body {...body}>
    <script is:inline>
      ;(function () {
        function setTheme(newTheme) {
          document.documentElement.className = newTheme
          window.__theme = newTheme
          window.__onThemeChange(newTheme)

          const comments = document.getElementById('comments')
          if (!comments) return
          comments.theme = newTheme
        }
        window.__onThemeChange = function () {}
        window.__setPreferredTheme = function (newTheme) {
          setTheme(newTheme)
          try {
            localStorage.setItem('theme', JSON.stringify(window.__theme))
          } catch (err) {}
        }
        const darkQuery = window.matchMedia('(prefers-color-scheme: dark)')
        darkQuery.addListener(function (event) {
          window.__setPreferredTheme(event.matches ? 'dark' : 'light')
        })
        let preferredTheme
        try {
          preferredTheme = JSON.parse(localStorage.getItem('theme'))
        } catch (err) {}
        setTheme(preferredTheme || (darkQuery.matches ? 'dark' : 'light'))
      })()
    </script>
    <slot />
  </body>
</html>
