---
import Document from './_document.astro'
import Navigation from '~/components/Navigation/Navigation.astro'

import styles from './Main.layout/styles.css'

export interface Props {
  title: string
}
---

<Document {...Astro.props} body={{ class: styles.body }}>
  <Navigation />
  <main class={styles.main}>
    <slot />
  </main>
</Document>
