---
import Baselayout from './Base.layout.astro'
import Header from '~/components/Header/Header.astro'

import styles from './Main.layout/styles.css'

export interface Props {
  title: string
}
---

<Baselayout {...Astro.props}>
  <Header />
  <main class={styles.main}>
    <slot />
  </main>
</Baselayout>
