---
import Document from './_document.astro'
import Header from '~/components/Header/Header.astro'
import Footer from '~/components/Footer/Footer.astro'

import styles from './Main.layout/styles.css'

export interface Props {
  title: string
}
---

<Document {...Astro.props}>
  <Header />
  <main class={styles.main}>
    <slot />
  </main>
  <Footer />
</Document>
